{{ include('header_gerenciar.twig') }}
<!-- top tiles -->
<div class="row tile_count">
  <div class="animated flipInY col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <div class="left"></div>
    <div class="right">
      <span class="count_top" title="Faturamento mensal">
        <i class="fa fa-area-chart"></i>
        Faturamento</span>
      <div class="count">{{ $this->money($faturamento['atual']) }}</div>
      <span class="count_bottom" title="Comparação com o mês passado">
        {% if $faturamento['atual'] >= $faturamento['anterior'] %}
          <i class="green">
            <i class="fa fa-sort-asc"></i>{{ get_aumento($faturamento['anterior'], $faturamento['atual'], true) }}%
          </i>
        {% else %}
          <i class="red">
            <i class="fa fa-sort-desc"></i>{{ -get_aumento($faturamento['anterior'], $faturamento['atual'], true) }}%
          </i>
        {% endif %}
        do mesmo período
      </span>
    </div>
  </div>
  <div class="animated flipInY col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <div class="left"></div>
    <div class="right">
      <span class="count_top">
        <i class="fa fa-money"></i>
        Receitas</span>
      <div class="count green">{{ $this->money($receitas) }}</div>
      <span class="count_bottom">
        <i class="green">{{ $this->currency($vendas['total']) }}
        </i>
        Vendas</span>
    </div>
  </div>
  <div class="animated flipInY col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <div class="left"></div>
    <div class="right">
      <span class="count_top" title="Despesas do mês que ainda não foram pagas">
        <i class="fa fa-shopping-cart"></i>
        Despesas</span>
      <div class="count">{{ $this->money(-$despesas['apagar']) }}</div>
      <span class="count_bottom" title="Contas pagas do mês">
        <i class="red">{{ $this->currency(-$despesas['pagas']) }}
        </i>
        pago</span>
    </div>
  </div>
  <div class="animated flipInY col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <div class="left"></div>
    <div class="right">
      <span class="count_top">
        <i class="fa fa-users"></i>
        Fluxo de pessoas</span>
      <div class="count">{{ $pessoas['total'] }}</div>
      <span class="count_bottom">
        <i class="green">{{ $pessoas['atual'] }}
        </i>
        no local</span>
    </div>
  </div>
  <div class="animated flipInY col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <div class="left"></div>
    <div class="right">
      <span class="count_top">
        <i class="fa fa-clock-o"></i>
        Permanência média</span>
      <div class="count">{{ get_tempo($permanencia) }}</div>
      <span class="count_bottom">
        <i class="green">{{ $this->currency($ticket_medio) }}
        </i>
        ticket médio</span>
    </div>
  </div>
  <div class="animated flipInY col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <div class="left"></div>
    <div class="right">
      <span class="count_top">
        <i class="fa fa-user"></i>
        Clientes</span>
      <div class="count">{{ $clientes['total'] }}</div>
      <span class="count_bottom">
        <i class="green">{{ $clientes['hoje'] }}
        </i>
        cadastros hoje</span>
    </div>
  </div>
</div>
<!-- /top tiles -->

<!-- Transaction Summary -->
<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Faturamento diário
          <small>Progresso diário</small>
        </h2>
        <div class="filter">
          <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
            <span>{{ date('F j, Y', $data_inicio) }}
              -
              {{ date('F j, Y', $data_fim) }}</span>
            <b class="caret"></b>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="col-md-9 col-sm-12 col-xs-12">
          <div class="demo-container" style="height:379px">
            <div id="placeholder33x" class="demo-placeholder" data-language="pt-BR" data-currency="{{ $currency->getCodigo() }}"></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <div>
            <div class="x_title">
              <h2>Top Clientes</h2>
              <div class="clearfix"></div>
            </div>
            <ul class="list-unstyled top_profiles scroll-view">
              {% for $top_cliente in $top_clientes %}
                <li class="media event">
                  <a href="/gerenciar/cliente/editar?id={{ $top_cliente['id'] }}" class="pull-left border-aero profile_thumb">
                    <img src="{{ get_image_url($top_cliente['imagemurl'], 'cliente', $top_cliente['tipo'] == \MZ\Account\Cliente::TIPO_JURIDICA?'empresa.png':'cliente.png') }}" alt="..." class="img-circle costumer_img" height="48px">
                  </a>
                  <div class="media-body">
                    <a class="title" href="/gerenciar/cliente/editar?id={{ $top_cliente['id'] }}">{{ $top_cliente['nome'] }}</a>
                    <p>
                      <a href="/gerenciar/pedido/?clienteid={{ $top_cliente['id'] }}&estado=Finalizado&apartir_criacao={{ $this->date($apartir_compra) }}">
                        <strong>{{ $this->currency($top_cliente['total']) }}</strong>
                        compras no semestre
                      </a>
                    </p>
                    <p>
                      <small>{{ $top_cliente['pedidos'] }}
                        pedidos no semestre</small>
                    </p>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- /Transaction Summary -->

<div class="row">

  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
      <div class="x_title">
        <h2>Vendas por categoria</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        {% for $categoria in $categorias %}
          <div class="widget_summary">
            <div class="w_left w_25">
              <span>{{ $categoria['descricao'] }}</span>
            </div>
            <div class="w_center w_50">
              <div class="progress">
                <span>{{ get_percent($categoria['total'], $vendas['subtotal'], true) }}%</span>
                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="{{ get_percent($categoria['total'], $vendas['subtotal'], true) }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ get_percent($categoria['total'], $vendas['subtotal'], true) }}%;">
                  <span>{{ get_percent($categoria['total'], $vendas['subtotal'], true) }}%</span>
                </div>
              </div>
            </div>
            <div class="w_right w_25">
              <span>{{ $this->currency($categoria['total']) }}</span>
            </div>
            <div class="clearfix"></div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320 overflow_hidden">
      <div class="x_title">
        <h2>Formas de pagamentos
          <small>da sessão mais recente</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table class="" style="width:100%">
          <tr>
            <th style="width:37%;">
              <p>Distribuição</p>
            </th>
            <th>
              <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <p class="">Descrição</p>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <p class="text-right">Valor</p>
              </div>
            </th>
          </tr>
          <tr>
            <td>
              <canvas id="canvas1" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
            </td>
            <td>
              <table class="tile_info">
                {% for $index, $pagamento in $pagamentos %}
                  <tr>
                    <td>
                      <p>
                        <i class="fa fa-square" style="color: {{ hexcolor($index, true) }};"></i>{{ get_forma_pagto($pagamento['tipo']) }}
                      </p>
                    </td>
                    <td>
                      <p class="text-right">{{ $this->currency($pagamento['total']) }}</p>
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
      <div class="x_title">
        <h2 id="meta-name">Expectativa mensal</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="dashboard-widget-content">
          <ul class="quick-list">
            <li>
              <i class="fa fa-line-chart"></i>
              <a href="#" range="anual">Expectativa anual</a>
            </li>
            <li>
              <i class="fa fa-pie-chart"></i>
              <a href="#" range="mensal">Expectativa mensal</a>
            </li>
            <li>
              <i class="fa fa-bar-chart"></i>
              <a href="#" range="semanal">Expectativa semanal</a>
            </li>
            <li>
              <i class="fa fa-area-chart"></i>
              <a href="#" range="diaria">Expectativa diária</a>
            </li>
          </ul>

          <div class="sidebar-widget">
            <h4>Progresso atual</h4>
            <canvas width="150" height="80" id="foo" class="" style="width: 160px; height: 100px;"></canvas>
            <div class="goal-wrapper">
              <span id="gauge-text" class="gauge-value pull-left">{{ $this->currency($faturamento['atual']) }}</span>
              <span id="goal-text" class="goal-value pull-right">{{ $this->currency($faturamento['base']) }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    var d1 = [
      {% for $_faturamento in $faturamentos %}
        [
          {{ strtotime($_faturamento['data']) * 1000 }}, {{ $_faturamento['total'] }}
        ],
      {% endfor %}
    ];
    var doughnutData = {
      datasets: [
        {
          data: [
            {% for $pagamento in $pagamentos %}
              {{ get_percent($pagamento['total'], $receitas, true) }},
            {% endfor %}
          ],
          backgroundColor: [{% for $index, $pagamento in $pagamentos %}
              {{ hexcolor($index, true, true) | raw }},
            {% endfor %}]
        }
      ],
      labels: []
    };
    Gerenciar.diversos.init(d1, doughnutData, {{ round($faturamento['atual']) }}, {{ round(max($faturamento['atual'], $faturamento['base'])) }});
  });
</script>
<script>
  NProgress.done();
</script>
<!-- /footer content -->
{{ include('footer_gerenciar.twig') }}