{{ include('header.twig') }}
<header style="background-image: url('{{ get_site_image_url('Image.Header') }}');">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">{{ get_string_config('Site', 'Text.BemVindo', 'Bem-vindo ao nosso restaurante!') }}</div>
      <div class="intro-heading">{{ get_string_config('Site', 'Text.Chamada', 'Conheça nosso cardápio!') }}</div>
      <a href="/produto/" class="page-scroll btn btn-xl">Cardápio!</a>
    </div>
  </div>
</header>
{{ include('footer.twig') }}